<extend name="Index/index"/>
<block name="main">
<div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="index.html">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">作品管理</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
                <form action="#" method="post">
                    <table class="search-tab">
                        <tbody><tr>
                           <th width="120">帖子:</th>
                            <td>
                                <select name="pid" id="">
                               <option value="">全部</option>
                                  <?php foreach($post as $k=>$v): ?> 
                                    <option value="<?=$k['pid']?>"><?=$v['title']?></option>
                                  <?php endforeach; ?>  
                                </select>
                            </td>
                        <tr>          
                            <th width="70">关键字:</th>
                            <td><input class="common-text"  name="rcontent" value="" id="" type="text"></td>
                            <td><input class="btn btn-primary btn2" value="查询" type="submit"></td>
                        </tr>
                    </tbody></table>
                </form>
            </div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-title">
                    <div class="result-list">
                        <a href="insert.html"><i class="icon-font"></i>新增作品</a>
                        <a id="batchDel" href="javascript:void(0)"><i class="icon-font"></i>批量删除</a>
                        <a id="updateOrd" href="javascript:void(0)"><i class="icon-font"></i>更新排序</a>
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tbody><tr>
                            <th>ID</th>
                            <th>贴子内容</th>
                            <th>发帖人</th>
                            <th>时间</th>
                            <th>操作</th>
                        </tr>
                    <?php foreach($replys as $reply): ?>
                        <tr>
                            <td><?=$reply['rid']?></td>
                            <td><?=$reply['rcontent']?></td>
                            <td><?=  $users[ $reply['uid'] ]['uname']    ?></td>
                            <td><?=  date('Y-m-d H:i:s',$reply['created_at'])    ?></td>
                            <td>
                                <a class="link-update" href="/index.php?m=admin&c=reply&a=edit&rid=<?=$reply['rid']?>">修改</a>
                                <a class="link-del" href="/index.php?m=admin&c=reply&a=del&rid=<?=$reply['rid']?>">删除</a>
                                  &nbsp;|&nbsp;

                                <?php if ($post['is_jing']): ?>
                                <a class="link-del" href="/index.php?m=admin&c=post&a=cancelJing&pid={$post['pid']}">取消加精</a>
                                <?php else: ?>
                                <a class="link-del" href="/index.php?m=admin&c=post&a=setJing&pid={$post['pid']}">加精</a>
                                <?php endif; ?>

                                &nbsp;|&nbsp;

                                <?php if ($post['is_top']): ?>
                                <a class="link-del" href="/index.php?m=admin&c=post&a=cancelTop&pid={$post['pid']}">取消置顶</a>
                                <?php else: ?>
                                <a class="link-del" href="/index.php?m=admin&c=post&a=setTop&pid={$post['pid']}">置顶</a>
                                <?php endif; ?>
                                
                                &nbsp;|&nbsp;
                                
                                <?php if ($post['is_display']): ?>
                                <a class="link-del" href="/index.php?m=admin&c=post&a=setHidden&pid={$post['pid']}">隐藏</a>
                                <?php else: ?>
                                <a class="link-del" href="/index.php?m=admin&c=post&a=setDisplay&pid={$post['pid']}">显示</a>
                                <?php endif; ?>
                                
                                &nbsp;|&nbsp;
                                <a class="link-del" href="/index.php?m=admin&c=reply&a=index&pid={$post['pid']}">查看回复</a>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                    </tbody></table>
                    <div class="list-page"><?=$html_page?></div>
                </div>
            </form>
        </div>
    </div>
</block>